body {
  font-size: 14px;
}

nav {
  background-color: yellow; */this changes the background colour*/
  height: 100px; */this changes the height of the box*/
  margin-top: -10px; */ this changes the margin space at the top of the box*/
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif; */the font used on all h1 is set*/
  font-size: 2em; */ the size used on all h1*/
}

.example, h3 {
  padding-top: 30px;
  text-align: center; 
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;

  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.color{
  background-color: orange;
}
